n8n-save-demande.json
{
  "name": "NeoTravel – Save Demande Airtable",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-demande",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "save-demande"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "REMPLACE_PAR_TON_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "REMPLACE_PAR_TA_TABLE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom": "={{ $json.body.prospect }}",
            "Email": "={{ $json.body.email }}",
            "Départ": "={{ $json.body.depart }}",
            "Destination": "={{ $json.body.destination }}",
            "Passagers": "={{ $json.body.passagers }}",
            "Date": "={{ $json.body.tripDate }}",
            "Statut": "={{ $json.body.statut }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "airtable-node",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [480, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "REMPLACE_PAR_TON_CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, id: $json.id }) }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Airtable", "type": "main", "index": 0 }]
      ]
    },
    "Airtable": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
